@media(max-width: 600px){
    .login-card .input-field, .login-body .input-field{
        margin-left: -1.5% !important;
    }
}
@media(min-width: 601px){
    .body-login .col.offset-m3 {
        margin-left: 28% !important;
    }
    .login-card .input-field, .login-body .input-field{
        padding-left: 0 !important;
    }
}
@media(min-width: 993px){
    /*Pagina de lançamentos*/
    .chevron-header{
        display: none !important;
    }
    #add{
        line-height: 1.5;
    }
    .container-movimentacoes{
        position: sticky;
        top: 0px;
    }
    .lancamentos-item{
        height: 8%;
        font-size: 16px;
        line-height: 300%;
    }
    .lancamentos-item .delete-lancs .material-icons{
        font-size: 15pt;
        line-height: 240%;
    }
}
@media(max-width: 992px){
    /*Pagina de lançamentos*/
    .lancamentos-item{
        height: 12%;
        font-size: 13px;
        line-height: 250%;
    }
    .delete-lancs{
        margin-top: -2%;
    }
}

/*Container structure*/
.row{
    margin-bottom: 0 !important;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-header{
    background-color: var(--primary-color);
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    display: block;
}
.container-body{
    padding: 1rem !important;
    border: 1px solid gray;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
    margin-bottom: 32px;
    background-color: white;
}
.container-main{
    padding: 0 !important;
}

main{
    padding-top: 32px;
}
/*Página de lançamentos*/
.container-date .input-field{
    margin-bottom: 0 !important;
}
.container-header i{
    position: absolute;
    right: 10px;
    font-size: 22pt;
}
.collapsible-header:focus{
    background-color: var(--primary-color) !important;
}
.collection-movs h6{
    display: contents !important;
    font-weight: bolder;
    color: var(--darken);
}
#row_inputs{
    background-color: var(--bg_light);
    margin-left: -1rem !important;
    margin-right: -1rem !important;
    border-bottom: 1px solid var(--gray);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.lancamentos-item{
    border-bottom: 1px solid #e0e0e0;
    
}
.lancamentos-item .delete-lancs .material-icons{
    font-size: 15pt;
}
.delete-lancs a{
    cursor: pointer;
}

/*Login Page*/
.body-login{
    background-color: var(--primary-color);
}
.body-login>.row, .body-login2>div>.row{
    height: 100vh;
}
.login-card{
    background-color: rgba(243, 243, 243, .54) !important;
    color: var(--darken) !important;
}
.login-card .card-title{
    margin-bottom: 24px !important;
}
.login-card .divider{
    margin-bottom: 20px !important;
}
.login-card input{
    border-bottom: 1px solid var(--darken) !important;
}
.login-card input:focus{
    border-bottom: 1px solid #26a69a !important;
}
.login-card a:hover{
    color: var(--gray) !important;
}
/*Login 2*/
.body-login2{
    background-color: #ffb0b4;
}
.body-login2 .container-body{
    padding-bottom: 25px !important;
    margin-bottom: inherit;
}
.body-login2 a{
    color: var(--darken);
}
.body-login2 a:hover{
    color: var(--primary-color);
}